.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 480px;
  margin: 0 auto;
}

.notes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 25px;
}

.note-card {
  border: 2px #ccc solid;
  border-radius: 8px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-card .title {
  font-weight: bold;
  margin-bottom: 0.3rem;
  border-bottom: 2px #ccc solid;
  padding: 10px 25px;
}

.note-card .content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
}

.note-card .delete {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
}

.App .add {
  border-style: dashed;
  border: 2px #ccc solid;
  border-radius: 8px;
  height: 30px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form input {
  border: #ccc 1.3px solid;
  border-radius: 5px;
  padding: 16px;
  outline: none;
}

.form button {
  padding: 16px;
  margin-top: 16px;
  background: transparent;
  border: #ccc 1.3px solid;
  cursor: pointer;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  transition: all 0.5s ease-in;
}

.form button:hover {
  background-color: #0044c0;
  color: white;
}

.textfield {
  margin-top: 25px;
  border: #ccc solid 2px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 5px;
  width: 100%;
}

.textfield input {
  border: none;
  outline: none;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}